<li class="comment"><div style="display: flex; justify-content: space-between;"><div><%= comment.content %></div><div><%= comment.user.name%></div></div>
    <div>
        <a href="/post/comment/like/<%= comment.id %>"><%= comment.likes.length %> Like</a>    
    <% if(locals.user.id == comment.user.id || locals.user.id == post.user.id) { %>
            <a href="/posts/delete-comment/<%= comment.id %>">Delete</a>
        <% } %>
    </div>
</li>