<li class="post-container" id="post-<%= post.id %>">
    <div class="post-content">
        <div><%= post.content %></div><div><%= post.user.name%></div>
        
    </div>
    <div>
        <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/like/toggle/?id=<%= post._id%>&type=Post"><%= post.likes.length %> Like</a>
        <% if(locals.user.id == post.user.id) { %>
            <a class="delete-post-button" href="/posts/delete/<%= post.id %>">Delete</a>
        <% } %>
    </div>
    <ul>
        <% for(comment of post.comments) { %>
            <%- include('_comment') -%>
        <% } %>
    </ul>
    <div class="comment-section">
        <div>Comment</div>
        <form action="/posts/add-comment" method="POST">
            <input type="text" name="comment" placeholder="Write Comment : ">
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="Add Comment">
        </form>
    </div>
</li>